GLOBAL_BURDEN_INPUT=<PATH_TO_GLOBAL_BURDEN_CSV>
REGIONAL_INCIDENCE_INPUT=<PATH_TO_REGIONAL_INCIDENCE_CSV>
REGIONAL_DEATH_INPUT=<PATH_TO_REGIONAL_DEATH_CSV>
REGIONAL_DALY_INPUT=<PATH_TO_REGIONAL_DALY_CSV>
AGE_BURDEN_1990_INPUT=<PATH_TO_AGE_BURDEN_1990_CSV>
AGE_BURDEN_2023_INPUT=<PATH_TO_AGE_BURDEN_2023_CSV>
COUNTRY_SDI_INPUT=<PATH_TO_COUNTRY_SDI_CSV>
COUNTRY_INCIDENCE_INPUT=<PATH_TO_COUNTRY_INCIDENCE_CSV>
COUNTRY_DEATH_INPUT=<PATH_TO_COUNTRY_DEATH_CSV>
COUNTRY_DALY_INPUT=<PATH_TO_COUNTRY_DALY_CSV>
LOCATION_HIERARCHY_INPUT=<PATH_TO_LOCATION_HIERARCHY_CSV>
COUNTRY_BOUNDARIES_SHP=<PATH_TO_COUNTRY_BOUNDARY_VECTOR>
DISPUTED_BOUNDARIES_SHP=<PATH_TO_DISPUTED_BOUNDARY_VECTOR>
WHO_JRF_CASES_INPUT=<PATH_TO_WHO_JRF_CASES_WORKBOOK>
WHO_JRF_RATES_INPUT=<PATH_TO_WHO_JRF_RATES_WORKBOOK>
WHO_JRF_COMPARISON_INPUT=<PATH_TO_WHO_JRF_COMPARISON_CSV>
WHO_JRF_REGION_TOTALS_INPUT=<PATH_TO_WHO_JRF_REGION_TOTALS_CSV>
RANDOM_EFFECTS_INPUT=<PATH_TO_RANDOM_EFFECTS_CSV>
NOTIFICATION_REPLACEMENTS_INPUT=<PATH_TO_NOTIFICATION_REPLACEMENTS_CSV>
FATAL_MODEL_STRATEGY_INPUT=<PATH_TO_FATAL_MODEL_STRATEGY_CSV>
AGE_BURDEN_2019_2023_INPUT=<PATH_TO_AGE_BURDEN_2019_2023_CSV>
MORTALITY_INCIDENCE_RATIO_INPUT=<PATH_TO_MORTALITY_INCIDENCE_RATIO_CSV>
INFANT_MORTALITY_TRENDS_INPUT=<PATH_TO_INFANT_MORTALITY_TRENDS_CSV>
TOP_RANDOM_EFFECTS_INPUT=<PATH_TO_TOP_RANDOM_EFFECTS_CSV>
